<div Id="Container">
<h1>Add Measurement</h1>
<form id="AddMeasurementForm" #f="ngForm" (ngSubmit)="onAdd(f)" novalidate>
    <div class = "form-group">
        <label for="Id">Id</label>
        <input  type="text" #MeasurementId="ngModel" [(ngModel)]="Measurement.id" name="Id" id="Id" class="form-control">
    </div>
      <div class = "form-group">
          <label for="Value">Value</label>
          <input  type="text" #MeasurementValue="ngModel" [(ngModel)]="Measurement.value" name="Value" id="Value" class="form-control">
      </div>
      <div class = "form-group">
        <label for="Name">Name</label>
        <input type="text"  #MeasurementName="ngModel" [(ngModel)]="Measurement.name" name="Name" id="Name" class="form-control">
      </div>
      <div class = "form-group">
        <label for="Scientist">Scientist</label>
        <input  type="text"  #MeasurementScientist="ngModel" [(ngModel)]="Measurement.scientist" name="Scientist" id="Scientist" class="form-control">
      </div>
      <div class = "form-group" >
        <label for="time">Time</label>
        <input type="date" #MeasurementTime="ngModel" [(ngModel)]="Measurement.time" name="Time" id="time" class="form-control">
      </div>
      <button type="submit" class ="btn btn-primary">Speichern</button>
  </form>
</div>